@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* line 13, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

/* line 19, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #f8fa90;
  color: #303030; }

/* line 27, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
.wrapper {
  min-height: 100%;
  position: relative; }

/* line 32, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
.strong {
  font-weight: 500; }

/* line 36, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
.spacer {
  margin: 3rem; }

/* line 40, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
.center {
  text-align: center; }

/* line 44, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
.line-spacer {
  border-bottom: 1px;
  border-bottom-color: #303030;
  border-bottom-style: solid;
  width: 100%;
  margin-top: -1.5rem;
  margin-bottom: 5rem; }

/*
* Navbar
*/
/* line 57, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1.5rem;
  color: #303030;
  font-size: 1.25rem; }
  /* line 65, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
  .navbar ul {
    list-style: none;
    text-align: right;
    font-weight: 300;
    font-size: 1.25em; }
    /* line 71, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
    .navbar ul li {
      display: inline; }
      /* line 74, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
      .navbar ul li a {
        text-decoration: none;
        color: #303030; }
    /* line 80, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
    .navbar ul .nav-link-separator {
      margin: 0 0.5em; }

/* line 86, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
.content {
  padding-top: 15rem;
  padding-bottom: 10rem; }

/**
* about me
*/
/* line 95, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
#about {
  margin-right: 20rem;
  margin-bottom: 5rem; }

/**
* my work
*/
/* line 104, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
#mywork {
  text-align: center;
  font-size: 3rem; }

/**
* Footer
*/
/* line 112, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
.footer {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 10rem;
  background-color: #303030;
  color: white;
  align-items: center;
  justify-content: center; }
  /* line 124, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
  .footer a {
    text-decoration: none;
    color: white; }
  /* line 130, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
  .footer i.fa {
    font-size: 2.75rem; }
    /* line 133, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
    .footer i.fa:hover {
      color: #a8d3f1; }

/* line 139, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
.social-spacer {
  margin: 0 2rem; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 146, /Users/trevor1/Projects/trevorhel.ms/public/assets/css/style.scss */
  .content {
    padding-top: 5rem; } }

/*# sourceMappingURL=style.css.map */